%body
  //%header グループを作成しました 
  .wrapper
    .chat-side
      = render partial: "shared/side_bar"
    .chat-main
      .main-header
        .current-group
          %h2.current-group__name sample message
          %ul.member-list
            Member:
            %li.member-list__member test user
        .main-header__edit-btn Edit
      .messages
        .message
          .upper-info
            %p.upper-info__user Test user
            %p.upper-info__date 2019/05/25(sat) 15:00:00
          %p.message__text testing.
        .message
          .upper-info
            %p.upper-info__user Sample user
            %p.upper-info__date 2019/05/25(sat) 16:00:00
          %p.message__text testing.
      .form
        %form.new-message
          .input-box
            %input.input-box__text{placeholder: "type a message", type: "text"}
            %label.image-label{for: "message_image"}
              %i.fa.fa-image
              %input.image-label__input#message_image{name: "message[image]", type: "file"}
          %input.new-message__submit-btn{name: "commit", type: "submit", value: "Send"}/
